/*@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");*/

.the-icons {
    font-size: 15px;
}

body {
    font-family: Work Sans, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    display: block;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    font-family: Work Sans, Arial, sans-serif;
    margin: 10px 0;
}


input {
    width: 100%;
    display: block;
    padding:3px;
}

select {
    width: 100%;
    display: block;
    padding:5px;
}






#temporal_ul li{
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0px 10px;

}

#temporal_ul li a{
    text-decoration: none;
    color:#0bb2d4
}



#separador{
    padding-top: 20px !important;
    border-top: 1px solid silver !important;
}


#buton_siguiente{
    color:white;
    float:right;
    background-color: #E2711D;
    padding: 9px 18px;
    border: 0;
    min-width: 100px;
    display: block;
    text-align: center;
    line-height: normal;
    border-radius: 4px;
    cursor: pointer !important;
    height: auto !important;
    outline: none !important;
}


#buton_atras{
    color:white;
    float:left;
    background-color: #E2711D;
    padding: 9px 18px;
    border: 0;
    min-width: 100px;
    display: block;
    text-align: center;
    line-height: normal;
    border-radius: 4px;
    cursor: pointer !important;
    height: auto !important;
    outline: none !important;
}


.clear {
    clear: both;
}


#contenedor1, #contenedor2, #contenedor3, #contenedor4 {
    max-width: 100%;
    max-width: 840px;
    height: 645px;
    padding: 30px 30px 10px;
    box-shadow: 2px 2px 25px 5px #f0f0f0;
    border-radius: 15px;
    background: #fff;
    margin: auto;
}


.bookme-pro-steps {
    display: table;
    table-layout: fixed;
    width: 100%;
    font-weight: bold;
    padding: 0 !important;
    margin: 0 0 20px 0 !important;
}

.bookme-pro-steps > li {
    counter-increment: stepNum;
    text-align: center;
    display: table-cell;
    position: relative;
    color: #E2711D;

}

.bookme-pro-steps > li:before {
    content: '\f00c';
    content: '\2713;';
    content: '\10003';
    content: '\10004';
    content: '\2713';
    display: block;
    margin: 0 auto 4px;
    background-color: #E2711D;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-weight: bold;
    border: 2px solid #E2711D;
    border-radius: 50%;
    color:white;
}

*{
    font-family: verdana;
}

/* estado actual ->> before */
.bookme-pro-steps > li.bookme-pro-steps-is-active:before {
    content: counter(stepNum);
    background-color: transparent;
    border-color: #E2711D;
    color: #E2711D
}


/* linea entre los estados */
.bookme-pro-steps > li:not(:last-child):after {
    content: '';
    height: 2px;
    width: calc(100% - 36px);
    background-color: #E2711D;
    position: absolute;
    top: 16px;
    left: calc(50% + 19px);
}

.bookme-pro-steps > li.bookme-pro-steps-is-active:after, .bookme-pro-steps > li.bookme-pro-steps-is-active ~ li:after {
    background-color: #ededed !important;
}
#content{
    height:100%;
}

#content #left {
    width: 40%;
    float: left;
    margin-bottom: 38px;
}

#content #right {
    width: 46%;
    float: right;
    margin-bottom: 15px;
}

#content #right2 {
    width: 40%;
    float: right;
    margin-bottom: 15px;
}

li.bookme-pro-steps-is-active ~ li:before {
    content: counter(stepNum);
    font-family: inherit;
    font-weight: 700;
}





#diaSeleccionado{
    background: #E2711D !important;
    border: 1px solid #E2711D !important;
    color:white;
    padding: 6px;
}

#hora_opcion:hover{
    background: #efefef !important;
}

#hora_opcion{
    background: white !important;
    cursor: pointer;
    border: 0;
    padding: 10px;
    border-bottom: 1px solid #cccccc !important;
    width: 100%;
    text-align: left;
}

#buton_reservar{
    background: #E2711D;
    float: right;
    color: white !important;
    font-weight: bold !important;
    border: 1px solid #E2711D;
    padding: 6px 10px;
}


#scroll-content {
    height:427px;
    margin-bottom: 15px;
    overflow-y:scroll;
}

#scroll-content2, #scroll-content3, #scroll-content5 {
    display: none;
    height:383px;
    margin-bottom: 15px;
    overflow-y:scroll;
}

#title-hora-cita, #title-hora-cita2{
    display: none;
}

.input_numer_precio{
    width: 25%;
}

.input_ckeckbox_emple{
    width: 20%;
}

.input_ckeckbox_nobre_ser{
    width: 55%;
}

.input_ckeckbox_emple input{
    height: 16px;
    width: 16px;
    min-width: 16px;
}



.slidePanel, .popUp_anadir_emple{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
}


.slidePanel-content {
    background-color: #fefefe;

    margin: auto;
    padding: 0 20px 20px 20px;
    border: 1px solid #888;
    width: 400px;
    border-radius: 6px;
}


.slidePanel2{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
}


.slidePanel3{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
}


.slidePanel4{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
}

.slidePanel5{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
}


.popUp_editar_emple_datos, .popUp_editar_emple_servicios, .popUp_editar_emple_horarios{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
}


.slidePanel-content2, .slidePanel-content5 {
    background-color: #fefefe;
    margin: auto;
    padding: 0 20px 20px 20px;
    border: 1px solid #888;
    width: 400px;
    border-radius: 6px;
}


.slidePanel-content3 {
    background-color: #fefefe;
    margin: auto;
    padding: 0 20px 20px 20px;
    border: 1px solid #888;
    width: 900px;
    min-height: 1120px;
    height:100%;
    border-radius: 6px;
}

.popUp_anadir_emple_content, .popUp_editar_emple_datos_content, .popUp_editar_emple_servicios_content, .popUp_editar_emple_horarios_content {
    background-color: #fefefe;

    margin: auto;
    padding: 0 20px 20px 20px;
    border: 1px solid #888;
    width: 600px;
    border-radius: 6px;
}


#alert-text-servicios-empleado td{
    padding: 17px 20px;
}


/* alerta */
.alerta {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

#titulo{
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 15px;
    width:100% !important
}
#titulo2{
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 15px;
    width:100% !important
}

#menu_actualizar_empleado{
    margin-top:25px;
    margin-bottom: 35px;
}

#menu_actualizar_empleado ul{
    display: table;
    width: 100%;
    padding-left:0px;
}

#menu_actualizar_empleado ul li {
    display:inline;
    list-style-type:none;
    list-style-position: inside;
    margin-right:47px;

    border-width: 0 0 1px 0;
    padding:0px;
    font-size: 17px;
}

#menu_actualizar_empleado ul li:nth-child(2){
    margin-left:50px
}

#menu_actualizar_empleado ul li:last-child{
    float:right;
    margin-right:0px
}

.active{
    color: #3e8ef7;
    border-bottom-color: #3e8ef7;
    border-bottom: 1px solid #3e8ef7;

    margin-bottom:15px;
    cursor:default;
}

ul .no_active{
    color: #cccccc;
    border-bottom-color: #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    cursor: pointer;
}

/* Modal Content */
.alerta-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px 20px 20px 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 6px;
    max-width: 700px;
}

.alerta-content2 {
    background-color: #fefefe;
    margin: auto;
    padding: 0px 20px 20px 20px;
    border: 1px solid #888;
    width: 400px;
    border-radius: 6px;
}


#alert-text-datos-empleado{

}


/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


#alert-footer, #alert-footer2{
    padding-top: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
    margin-top: 15px;
}


#alert_actualizar{
    display: inline-block;
    padding: 6px 12px !important;
    border: 0;
    margin-bottom: 0;
    margin-right: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 4px;
    color: #fff;
    background-color: #3e8ef7 !important;
}

#alert_actualizar2, #alert_actualizar3, #alert_anadir, #alert-actualizar-datos-personales, #alert-actualizar-servicios , #buton_anadir_emple_interno, #buton_actualizar_emple_interno_datos,
#buton_actualizar_emple_interno_servicios, #buton_actualizar_emple_interno_horarios{
    display: inline-block;
    padding: 6px 12px !important;
    border: 0;
    margin-bottom: 0;
    margin-right: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 4px;
    color: #fff;
    background-color: #3e8ef7 !important;
}

#alert_ok{
    display: inline-block;
    padding: 6px 12px !important;
    border: 0;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 4px;
    color: #fff;
    text-transform: capitalize;
    background-color: #3e8ef7 !important;
}


#alert_ok2{
    display: inline-block;
    padding: 6px 12px !important;
    border: 0;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 4px;
    color: #fff;
    text-transform: capitalize;
    background-color: #E2711D !important;
}

#alert_cancelar:hover, #alert_cancelar2:hover, #alert_cancelar3:hover, #alert_cancelar5:hover, #comprobar_horario, #buton_cancelar_emple_interno_datos:hover, #buton_cancelar_emple_interno:hover, #buton_cancelar_emple_interno_servicios:hover, #buton_cancelar_emple_interno_horarios:hover, #alert_imprimir:hover{
    cursor: pointer;
}






/* table */

#tabla{
    width:100%
}

#tabla tr{
    text-align: left;
}


th {
    padding: 14px 8px;
}

td {
    padding: 17px 30px;
}

#tabla tr:nth-child(even){
    background-color: #f1f1f1;

}

td, th { border-bottom: 1px solid rgb(187, 187, 187)
}





#buton_tabla {
    display: inline-block;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #d9dee4;
    color: #00a0d2;
    background-color: #fff;
    border-radius: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 7px 11px 11px 10px;
}



.button_imagen:before{
    content: url("../design/edit2.jpg");
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing:antialiased;
}

.button_imagen2:before{
    content: url("../design/edit1.jpg");
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing:antialiased;
}


#checkbox_borrar{
    border: 1px solid #b4b9be;
    background: #fff;
    color: #555;
    cursor: pointer;
    height: 16px;
    width: 16px;
    min-width: 16px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    transition: .05s border-color ease-in-out;
}
#buton_borrar, #buton_borrar_emple{
    float:right;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    background-color: #ff666b;
    border-color: #ff666b;
    border-radius: 4px;
    border: 1px solid transparent;
    color:white;
    margin-left:20px;
}

#buton_cerrar, #buton_cerrar2{
    border-radius: 22px;
    border: 1px solid transparent;
    color: #E2711D;
    width: 41px;
    height: 41px;
    font-size: 41px;
    float: right;
    cursor: pointer;
}

.icon_borrar:before{
    content: "\e020";
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-size: 13px;
    -webkit-font-smoothing:antialiased;

}

#buton_anadir, #buton_anadir_emple{
    float:right;

    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    background-color: #3e8ef7;
    border-color: #3e8ef7;
    border-radius: 4px;
    border: 1px solid transparent;
    color:white;
}

.icon_anadir:before{
    content: "\002b";
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-size: 13px;
    -webkit-font-smoothing:antialiased;
}



/* HOJA DE TRABAJO */

#datos_taller{
    border: 0px solid lightgrey;
    width:460px;
    max-width: 460px !important;
    height: 121px;
    float:left;
    padding: 0px;
    padding-top: 25px;
}


#datos_id_fechas{
    border: 1px solid lightgrey;
    width:400px;
    height: 121px;
    float:right;
    padding:10px
}



#login {
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 200px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.60);
    display: none;
    vertical-align: middle;
}

#admin_login {
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 200px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.60);
    display: table;
    vertical-align: middle;
}


#admin_login_content{
    margin: auto;
    border: solid #e3d8cf 1px;
    background-color: white;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    position: relative;
    height: 303px;
    width: 420px;
    transition-property: all;
    transition-duration: 250ms;
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.16);
    padding: 20px;
}


#login_content{
    margin: auto;
    border: solid #e3d8cf 1px;
    background-color: white;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    position: relative;
    height: 256px;
    width: 420px;
    transition-property: all;
    transition-duration: 250ms;
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.16);
    padding: 20px;
}

#alerta-error{
    color:red;
    font-size: 15px;
    font-weight: bold;
}

#registro {
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 200px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.80);
    display: none;
    vertical-align: middle;
}

#registro_content{
    margin: auto;
    border: solid #e3d8cf 1px;
    background-color: white;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    position: relative;
    height: 376px;
    width: 420px;
    transition-property: all;
    transition-duration: 250ms;
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.16);
    padding: 20px;
}

#login tr td{
    border:0 !important;
    width: 400px !important;
}



.btn {
    border:0px;
    display: inline-block;
    padding: 0.3em 1.2em;

    box-sizing: border-box;
    text-decoration: none;
    color: white;
    background-color: #E2711D;
    text-align: center;
    transition: all 0.2s;
}

.btn:hover{
    cursor:pointer;
}



































